.navbar {
    background-color: orange;
}

.list {
    display: inline-flex;
    margin: 0;
    justify-content: flex-end;
}

.list li {
    display: inline-block;
    padding: 1em;
    margin: 0 10px;
    list-style-type: none;
}

.list li a {
    text-decoration: none;
    color: black;
}

.login {
    border: none;
    display: inline-flex;
}