.navbar {
    background-color: orange;
    display: grid;
    grid-template-columns: 100px 1fr auto;
    column-gap: 5px;
}

.homeLink {
    align-self: center;
    justify-self: center;
}

.homeLink img {
    height: 30px;
}

.list {
    justify-self: flex-start;
    display: inline-flex;
    margin: 0;
    padding-left: 0;
}

.list li {
    display: inline-block;
    padding: 1em;
    margin: 0 10px;
    list-style-type: none;
}

.list li a {
    text-decoration: none;
    color: black;
}

.login {
    border: none;
    justify-self: center;
    align-self: center;
    margin-right: 10px;
}