openapi: '3.0.2'
info:
  title: Borum Jot API
  description: The REST API for Borum Jot
  version: '1.0.0'
  contact:
    name: Jot API Support
    email: jot@borumtech.com
  license:
    name: MIT
    url: https://mit-license.org/
servers:
  - url: https://api.jot.borumtech.com/v1
    description: The production API server
components:
  schemas:
    GenericError: 
      type: object
      properties:
        statusCode:
          type: integer
          default: 500
        error:
          type: object
          properties:
            message:
              type: string
              default: 'An unknown server error occurred'
            dev:
              type: string
              description: The message understandable to developers (consumers of the API)
            query:
              type: string
              description: The problematic SQL query
    Jotting:
      type: object
      discriminator:
        propertyName: source
      properties:
        id:
          type: number
        title:
          type: string
        body:
          type: string
        user_id:
          type: number
        status:
          type: number
        time_updated:
          type: number
          description: Time updated in seconds since Unix epoch
        source:
          type: string
      required:
        - title
        - source
    Task:
      description: A representation of a task
      allOf:
        - $ref: '#/components/schemas/Jotting'
        - type: object
          properties:
            parent_id: 
              type: number
              description: The id of the parent task if it is a subtask, or 0 if it is a top-level task
      required:
        - parent_id
    Note:
      description: A representation of a note
      allOf:
        - $ref: '#/components/schemas/Jotting'

  responses:
    SuccessfulOperationWithoutData:
      description: 204 No Content response
        
  securitySchemes:
    UserAuthorization:
      type: apiKey
      in: header
      name: Authorization
      description: The API Key of the user to authorize the app access to their account
    DeveloperAuthorization:
      type: apiKey
      in: header
      name: X-Borum-Dev-Api-Key
      
paths: 
  /login:
    post:
      summary: Fetch a user
      operationId: getUser
      description: Use login credentials to obtain necessary data to identify a user and makes a Borum Jot account automatically if one doesn't exist
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email: 
                  type: string
                  description: Email of the user
                password: 
                  type: string
                  pattern: .*
                  description: Password of the user
              required: 
                - email
                - password  
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: 
                    type: object
                    properties:
                      jot_user_id: 
                        type: integer
                        description: User's Borum id
                      api_key:
                        type: string
                        description: User's API key
                      first_name: 
                        type: string
                        description: User's first name
                      last_name: 
                        type: string
                        description: User's last name
  /register:
    post:
      summary: Create a new user  
      operationId: createNewUser
      description: Create a Borum account for the user
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema: 
              type: object
              properties:
                first_name: 
                  type: string
                  description: First name of the user
                last_name: 
                  type: string
                  description: Last name of the user
                email: 
                  type: string
                  description: Email of the user
                password: 
                  type: string
                  description: Password of the user
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                properties: 
                  api_key: 
                    type: string
                    description: API key of the user's Borum account
  /task:
    post:
      summary: Create a new task
      operationId: createNewTask
      description: Create a new task for a user
      security:
        - UserAuthorization: []
      requestBody:
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties: 
                name: 
                  type: string
                  description: Name of the new task
      responses:
        '200':
          description: OK
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
    put:
      summary: Updates a task
      operationId: updateTask
      description: Update one or more properties of a user's task
      security:
        - UserAuthorization: []
      parameters:
        - name: id
          in: query
          description: Id of the task
          required: true
          schema:
            type: number
          
        - name: name
          in: query
          description: New name of the task
          schema:
            type: string
          
        - name: completed
          description: New status of the task (completed or incomplete represented by a 0 or 1)
          in: query
          schema: 
            type: boolean
          
        - name: priority
          description: New priority of the task
          in: query
          schema:
            type: number
          
        - name: due_date
          description: New due date of the task in seconds since Unix epoch
          in: query
          schema:
            type: number
            
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                body: 
                  type: string
                  description: New body of the tasl
      responses:
        '200':
          description: OK
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError' 
    delete:
      summary: Delete a task
      operationId: deleteTask
      description: Deletes a user's task
      security:
        - UserAuthorization: []
      parameters:
        - name: id 
          description: Id of the task
          in: query
          required: true
          schema:
            type: number
      responses:
        '200':
          description: OK
        '500':
          description: Internal server error
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
  /note:
    get:
      summary: Get a Note
      operationId: getNote
      description: Get the body of a note, if the user owns the note or if the note is
        shared with the user
      security:
        - UserAuthorization: []
      parameters:
        - name: id
          description: Id of the note
          in: query
          required: true
          schema:
            type: number
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode: 
                    type: number
                    default: 200
                  data:
                    $ref: '#/components/schemas/Task'
              example:
                statusCode: 200
                data:
                  id: 15
                  body: John Dee was born in Mountain View, California
              
    post: 
      summary: Create a note
      operationId: createNote
      description: Create a new note for the user
      security:
        - UserAuthorization: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                body:
                  type: string
                  description: Name of the new note
      responses:
        '204':
          description: Note successfully created
    put:
      summary: Update a note
      operationId: updateNote
      description: Updates one or more properties of a note, if the note belongs to the user or is shared with the user
      security: 
        - UserAuthorization: []
      parameters:
        - name: id
          description: Id of the note to be updated
          required: true
          in: query
          schema: 
            type: number
        - name: name
          description: New name of the note
          in: query
          schema:
            type: string
        - name: priority
          description: New priority of the note
          in: query
          schema:
            type: number
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                body: 
                  description: New body of the note
      responses:
        '204':
          $ref: "#/components/responses/SuccessfulOperationWithoutData"
    delete:
      summary: Delete a Note
      operationId: deleteNote
      description: Deletes a user's note
      security:
        - UserAuthorization: []
      parameters:
        - name: body
          in: query
          description: Id of the note
          schema:
            type: number
            example: 28
      responses:
        '204':
          $ref: "#/components/responses/SuccessfulOperationWithoutData"
  /jottings:
    get:
      summary: Get owned jottings
      operationId: getMyJottings
      description: Get all jottings that a user owns, including notes and tasks, and return in one huge array, distinguished by the source property
      security:
        - UserAuthorization: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode: 
                    type: number
                    default: 200
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Jotting'
              example:  
                statusCode: 200
                data:
                  - id: 70
                    title: The Life and Lies of John Dee
                    body: John Dee was born in Mountain View, California
                    source: note
                  - id: 71
                    title: Packing List
                    body: Suntan lotion, toiletries, disposable camera, binoculars, swimming trunks
          
# - name: Get Subtasks
#   path: subtasks
#   funcName: getSubtasks
#   description: Get the subtasks of a user's task
#   request:
#     method: GET
#     requiredHeaders:
#     - name: Authorization
#       usage: Basic USER_API_KEY
#     queryString:
#       id: PARENT_TASK_ID
#   response:
#     statusCode: 200
#     data:
#     - id: SUBTASK_TASK_ID
#       title: SUBTASK_DECRYPTED_TITLE
#       body: SUBTASK_DECRYPTED_BODY
#       completed: SUBTASK_COMPLETED_STATUS
# - name: Create Subtasks
#   path: subtasks
#   funcName: createSubtask
#   description: Creates a subtask for a task or another subtask
#   request:
#     method: POST
#     requiredHeaders:
#     - name: Authorization
#       usage: Basic USER_API_KEY
#     body:
#       id: PARENT_TASK_ID
#       name: NEW_SUBTASK_NAME
#   response:
#     statusCode: 200
# - name: Share a Note
#   path: note/share
#   funcName: shareNote
#   description: Gives another user access to the note
#   request:
#     method: POST
#     requiredHeaders:
#     - name: Authorization
#       usage: Basic USER_API_KEY
#     body:
#       id: NOTE_ID
#       email: RECIPIENT_EMAIL
#   response:
#     statusCode: 200
# - name: Get Note Sharees
#   path: note/share
#   funcName: getNoteSharees
#   description: Gets the people that have access to the note with the given id
#   request:
#     method: GET
#     requiredHeaders:
#     - name: Authorization
#       usage: Basic USER_API_KEY
#     queryString:
#       id: NOTE_ID
#   response:
#     statusCode: 200
#     data:
#     - note_id: NOTE_ID
#       user_id: SHAREE_USER_ID
#       email: SHAREE_EMAIL
# - name: Remove a Sharee
#   path: note/share
#   funcName: removeSharee
#   description: Removes the sharee with the given email, access to the given note
#   request:
#     method: DELETE
#     requiredHeaders:
#     - name: Authorization
#       usage: Basic USER_API_KEY
#     body:
#       id: NOTE_ID
#       email: SHAREE_EMAIL
#   response:
#     statusCode: 200

# }